* {
    margin: 0;
    padding: 0;
    font-family: 'Sniglet', cursive;
    }
    header{
    background-image: url(books.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    }
    ul{
    float: right;
    list-style-type: none;
    margin: 25px;
    }
    ul li{
    display: inline;
    }
    ul li a{
        text-decoration: none;
        color: blue;
        border: 1px solid transparent;
        padding: 5px 20px;
        font-weight: bolder;
        text-transform: unset;
        transition: 0.5s ease;
        border-radius: 30px;
        font-size: 29px;
    }
        ul li a:hover{
        background-color: rgb(255, 0, 251);
        color: black;
        }
        .logo img{
        float: left;
        width: 250px;
        height: auto;
        margin-top: -10px;
        margin-right: 40px;
        }
    ul.a {
        list-style-type: circle;
        color: rgb(160, 59, 37);
        position: absolute;
        top: 120%;
        transition: translate(-50%,-50%);
        font-size: 20px;
        text-align: left;
        content: "\2022";
        }
        .title{
            position: absolute;
            top: 55%;
            right: 25%;
            transform: translate(-500%, -50%);
            }
            .title h1{
            border-top-right-radius: 90px;
            border-bottom-left-radius: 90px;
            color: rgb(4, 0, 255);
            border: 5px rgb(245, 245, 245);
            border-bottom-style: dotted;
            border-right-style: dotted;
            border-right-color: rgb(200, 255, 0);
            border-bottom-color: red;
            border-top-style: dotted;
            border-left-style: dotted;
            font-size: 70px;
            padding: 20px;
            font-weight: bold;
            }
            .title h1 span{
                color: white;
                }
                .title p{
                color: white;
                position: absolute;
                top: 120%;
                transition: translate(-50%,-50%);
                font-size: 20px;
                text-align: left;
                }